{% extends 'MediashareAppBundle::base.html.twig' %}
{% block content %}
    <h1>Create <span class="errorcode">Backdoor</span> for Metasploit.</h1>

    <h1 class="errorcode">Script edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_script') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
