{% extends 'MediashareAdminBundle::base.html.twig' %}

{% block content_right %}
    <div class="jumbotron">
        <h1>Bienvenue dans la plate-forme d'administration de votre site.</h1>
        <p>Cette espace vous permet d'administrer les différents composants de votre site internet.</p>
    </div>

{% endblock %}