{% extends 'MediashareAppBundle::base.html.twig' %}

{% block content %}
    <h4 class="important">Qu'est-ce qu'un cookie ?</h4>

        <p class="paragraphe">Un cookie est un petit fichier texte déposé sur votre ordinateur lors de la visite d'un site ou de la consultation d'une publicité. Ils ont notamment pour but de collecter des informations relatives à votre navigation sur les sites et de vous adresser des services personnalisés. Dans votre ordinateur les cookies sont gérés par votre navigateur internet. Vous trouverez davantage d’informations sur les cookies en consultant les sites suivants :
            <br />
            <br />

            <a href="http://www.allaboutcookies.org" target="_blank" title="www.allaboutcookies.org">www.allaboutcookies.org</a>
            <br />
            <a href="http://www.aboutcookies.org" target="_blank" title="www.aboutcookies.org">www.aboutcookies.org</a>
            <br />
            <a href="http://www.youronlinechoices.eu" target="_blank" title="www.youronlinechoices.eu">www.youronlinechoices.eu</a>
            <br />


            <br /> En utilisant le site Internet, vous nous autorisez à installer des cookies sur votre périphérique. Cette politique est conçue pour vous expliquer à quoi nous servent ces cookies et ce qu’ils font.</p>

        <hr class="separator" />

        <h4 class="important">Cookies strictement nécessaires</h4>

        <p class="paragraphe">Il s'agit des cookies nécessaires au fonctionnement du site. Ils vous permettent d'utiliser les principales fonctionnalités du site <i>(par exemple utilisation d'un panier d'achat ou l'accès à un espace privatif)</i>. Sans ces cookies, vous ne pourrez pas utiliser certains sites normalement.</p>

        <hr class="separator" />

        <h4 class="important">Cookies analytiques</h4>

        <p class="paragraphe">Il s'agit des cookies qui permettent de connaître l'utilisation et les performances du site et d'en améliorer le fonctionnement <i>(par exemple, les pages le plus souvent consultées via l'outil Google Analytics installé)</i>.</p>

        <hr class="separator" />

        <h4 class="important">Cookies fonctionnels</h4>

        <p class="paragraphe">Ces cookies nous permettent de mémoriser les choix que vous avez fait <i>(par exemple : votre nom d’utilisateur, votre langue)</i> et de vous proposer de meilleures fonctionnalités qui seront personnalisées. Les informations collectées par ces cookies ne permettent pas de suivre votre activité sur les autres sites visités.</p>

        <hr class="separator" />

        <h4 class="important">Cookies des Sites internet Tiers</h4>

        <p class="paragraphe"> Le site Internet peut contenir des liens renvoyant vers d’autres sites, et nous ne savons pas quels sont les cookies utilisés par ces derniers. Pour en savoir plus, veuillez consulter les informations fournies par ces sites tiers sur leurs propres cookies.</p>

        <hr class="separator" />

        <h4 class="important">Accepter ou refuser les cookies</h4>

        <p class="paragraphe"><strong>Le paramétrage de votre navigateur internet</strong>
            <br /> Vous pouvez à tout moment choisir de désactiver ces cookies. Votre navigateur peut également être paramétré pour vous signaler les cookies qui sont déposés dans votre ordinateur et vous demandez de les accepter ou non. Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser systématiquement une fois pour toutes. Nous vous rappelons que le paramétrage est susceptible de modifier vos conditions d'accès aux différents services nécessitant l'utilisation de cookies. Si votre navigateur est configuré de manière à refuser l'ensemble des cookies, vous ne pourrez pas effectuer d'achats ou profiter de fonctions essentielles de certains sites, comme par exemple stocker des articles dans votre panier ou recevoir des recommandations personnalisées. Afin de gérer les cookies au plus près de vos attentes nous vous invitons à paramétrer votre navigateur en tenant compte de la finalité des cookies telle que mentionnée ci-avant.</p>

{% endblock %}