<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Slote In Your Computer</title>
    <meta name="description" content="Download Tools for exploit Windows/Linux/Mac | HackerTools"/>
    <meta name="keywords" content="Slote Hacker, Download Tools Hack, Download Tools for exploit, Hacker Tools, Tools, Hacker, Hack Windows, Hack Mac, Hack Linux"/>
    <meta property="og:url" content="http://slote.me" />
    <meta property="og:site_name" content="Slote.me" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Slote coming soon in your Computer" />
    <meta property="og:description" content="Download Tools for exploit Windows/Linux/Mac | HackerTools" />
    <meta property="og:image" content="{{ asset('images/skull.png')}}" />

    <link href='https://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
    <link href='{{ asset('css/hacked.css') }}' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
  </head>
  <body>
    <div class="bat"></div>
  </body>
  {% block analytics %}
          {% include 'MediashareAppBundle::_analytics.html.twig' %}
  {% endblock %}
</html>
