{% extends 'MediashareAppBundle::base.html.twig' %}
{% block content %}
  <div class="overlay"></div>
  <div class="terminal">
    <h1>Download <span class="errorcode">Script</span> for Metasploit.</h1>
      <h1><span class="errorcode">Slote</span> Coming soon in your <span class="errorcode">Computer</span>.</h1>
  </div>
{% endblock %}
