{% extends 'MediashareAppBundle::base.html.twig' %}
{% block content %}
<h4>Mentions légales</h4>

<h5 class="important">Identification de l'éditeur</h5>

<p class="paragraphe"><strong>Direction de l'information légale et administrative</strong><br /><br />

Nom et adresse<br />
<strong>Téléphone :</strong>

<br /><br />

<strong>N° SIREN :</strong> à venir<br />
<strong>N° SIRET :</strong> à venir<br />
<strong>RCS :</strong> à venir

<br /><br />

<strong>Directeur de la publication :</strong> à venir</p>

<hr class="separateur" />

<h5 class="important">Conception graphique, référencement site internet, hébergement, gestionnaire des statistiques</h5>

<p class="paragraphe">La conception et les développements graphiques et ergonomiques ainsi que le développement des modèles de pages ont été réalisés par la société <strong>SERCO - Mediashare </strong>-  31 Cours Emile Zola 69100 Villeurbanne - 04 72 10 93 50</p>

<hr class="separateur" />

<h5 class="important">Traitement des données à caractère personnel</h5>

<p class="paragraphe">Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Pour demander une modification, rectification ou suppression des données vous concernant, il vous suffit d'envoyer un courrier par voie électronique ou postale à la Direction de l'information légale et administrative en justifiant de votre identité.</p>

<hr class="separateur" />

<h5 class="important">Liens hypertextes (responsabilité)</h5>

<p class="paragraphe">ce site internet propose de nombreux liens vers d'autres sites. Nous indiquons systématiquement vers quel site nous vous proposons d'aller. Cependant, ces pages web dont les adresses sont régulièrement vérifiées ne font pas partie de ce site : elles n'engagent pas la responsabilité de la rédaction du site.</p>

<hr class="separateur" />

<h5 class="important">Propriété intellectuelle</h5>

<p class="paragraphe"><strong>Droit de reproduction</strong><br />
La reproduction ou réutilisation des contenus de ce site est autorisée sous réserve de mentionner la date et la source et plus globalement de respecter la licence ouverte. La copie des autres pages du site, des logos et des cartes doit avoir obtenu l'autorisation du directeur de la publication.</p>
{% endblock %}