___________________________________________________________________________________________________
|                                                                                                   |
|                                                    @@@                                            |
|                                                     @@@                                           |
|                   /     /\       __    ________________   ___________   __    _    ____   ____    |
|                  /     /##\     |   \/   |  __||   \| |  / \   ___|  | |  |  / \  |  _ \ |  __|   |
|                 /     /####\    | |\  /| | |_  | |\ | | /   \ |___   |_|  | /   \ | |_| \| |_     |
|                /     /######\   | | \/ | |  _| | |/ | |/  _  \___ |   _   |/  _  \|   __/|  _|    |
|               /     /########\  | |    | | |__ |    | |  / \  |   |  | |  |  / \  | |\ \ | |__    |
|              /     /##########\ |_|    |_|____||___/__|_/   \_|___|__| |__|_/   \_|_| \_\|____|   |
|             /     /#####/\#####\                                                                  |
|            /     /#####/++\#####\    By Slote - Pimousse | Developpeur                            |
|           /     /#####/++++\#####\                                                                |
|          /     /#####/\+++++\#####\                                                               |
|         /     /#####/  \+++++\#####\                                                              |
|        /     /#####/    \+++++\#####\                                                             |
|       /     /#####/      \+++++\#####\                                                            |
|      /     /#####/        \+++++\#####\                                                           |
|     /     /#####/__________\+++++\#####\                                                          |
|    /                        \+++++\#####\                                                         |
|   /__________________________\+++++\####/                                                         |
|   \+++++++++++++++++++++++++++\##/                                                                |
|   \++++++++++++++++++++++++++++\/                                                                 |
|   '''''''''''''''''''''''''''''                                                                   |
|___________________________________________________________________________________________________|
/************* COOKIES **************/
#impliedsubmit{ background:#fff; color:#000; font-family: 'robotoregular'; padding:5px 10px; border:none; font-size:12px;}
#cookiesdirective{opacity: 1 !important; margin: 0 auto !important; text-align: left !important; background-color: #fff6ce !important; border: 1px solid #bcb17b; color: #434343 !important;}
#cookiesdirective a{color: #434343 !important; text-decoration: underline;}
#impliedsubmit{background: none !important;  color: #434343 !important;}
#impliedsubmit:hover{cursor: pointer;}
/************* ANTI IE7 **************/
#anti-ie7{width:100%;position: absolute; top:0; left:0;margin:0;padding:5px;background-color:#000; z-index:5000;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:white;padding:10px}
.titreAntiIe{font-size:30px;margin:0;margin-bottom:10px;padding:0;font-weight:bold}
#anti-ie7 a{color:#000;font-weight:bold;text-decoration:none}
#anti-ie7 a.close{float:right;text-decoration:none;}
.close{display:block; font-size:14px; width:76px; height:20px; padding:2px 0 0 30px; background:url(../images/btn-close.gif) no-repeat;
margin-right:10px; float:right; margin-top:20px}
.btn-ie{display:block; width:103px; height:19px; padding:3px 0 0 30px;  background:url(../images/btn-ie.gif) no-repeat; margin-top:20px; float:left}

/************* GENERAL **************/
* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style-position: inside;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0; outline:none; }
section,article,header,footer,nav,aside,hgroup {
    display: block;
}
table,td,blockquote,code,pre,textarea,input,video {
  max-width: 100%;
  margin: 0px auto;
}
p, dd, ul{
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}
li {
    list-style-type: none;
}
input, textarea, button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

body {
    font-family: sans-serif;
}

img {
    border: none;
    max-width: 100%;
/*    width: 100%;*/
    height: auto;
}

a {
    text-decoration: none;
    -webkit-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

.paragraphe {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 19px;
    text-align: justify;
}

.center{
    text-align: center;
}

hr{
    outline: none;
    border: none;
}

.clear {
    clear: both;
    background: none;
    outline: none;
    border: none;
}

.separateur{
    display: block;
    width: 100%;
    height: 1px;
    background: #d0d0d0;
    margin: 10px auto;
}
/* Font-Size */
.fs-11 {font-size: 11px;}
.fs-12 {font-size: 12px;}
.fs-13 {font-size: 13px;}
.fs-14 {font-size: 14px;}
.fs-15 {font-size: 15px;}
.fs-16 {font-size: 16px;}
.fs-17 {font-size: 17px;}
.fs-18 {font-size: 18px;}
.fs-19 {font-size: 19px;}
.fs-20 {font-size: 20px;}
.fs-25 {font-size: 25px;}
.fs-30 {font-size: 30px;}

/* Mise en forme */
.txt_align_c {text-align: center;}
.txt_align_l {text-align: left;}
.txt_align_r {text-align: right;}
.justify {text-align: justify;}
.bold {font-weight: 600;}
.black {font-weight: 800;}
.italic {font-style: italic;}
.uppercase {text-transform: uppercase;}
.underline {text-decoration: underline;}

/* Détection JS */

#jserror {
    background: #FFFFCC;
    border: #FF0000 solid 1px;
    color: #FF0000;
    padding: 10px;
    margin: 0 0 10px 0;
    float: left;
}
#jserror dt {
    font-weight: bold;
}

.myhr {
    border: none;
    outline: none;
}

/* ScrollToTop */

#scrollToBottom, #scrollToTop{ display: none;}

#scrollToBottom a{
    position: fixed;
    right: 2%;
    bottom: 2%;
    background :#666 url("../images/scrollbottom.png") no-repeat 10px 18px;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width:50px;
    height:50px;
    text-indent: -9999px;
    display: block;
    outline: none;
    color: #FFF;
    text-align: center;
}

#scrollToTop a{
    position: fixed;
    right: 2%;
    bottom: 2%;
    background :#666 url("../images/scrolltop.png") no-repeat 10px 13px;
    width:50px;
    height:50px;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    outline: none;
    display: block;
    text-indent: -9999px;
    color: #FFF;
    text-align: center;
}
/*--------------------------< FLASH NOTICE >--------------------------*/

.flash-notice{
    color: #e64014;
    background: #f5dcdc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 1em;
    border:#e64014 solid 1px;
}

.flash-notice-validate{
    color: #50a98d;
    background: #daf0e9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 1em;
    border:#50a98d solid 1px;
}

/*----------------------------------------------------< HEADER >---------------------------------------------------*/
.header_title{
  display: inline-block;
  width: 100%;
  text-align: center;
}
/*----------------------------------------------------< CONTENT >---------------------------------------------------*/
#content{
  margin: 5% auto;
}
/*----------------------------------------------------< FOOTER >---------------------------------------------------*/
/*----------------------------------------------------< CONTACT >---------------------------------------------------*/
/*----------------------------------------------------< COOKIES >---------------------------------------------------*/
/*----------------------------------------------------< CAPTCHA >---------------------------------------------------*/
#captcha{
    font-size:13px;
    color: #404040;
    line-height: 20px;
    border: 1px solid #b5b5b5;
    padding: 10px;
}
#captcha *{
    /* Enlever cette ligne pour aligner à droite */
    text-align: center;
}
#captcha legend{
    font-weight: normal;
}
#captcha input{
    background: white;
    border: 1px solid #b5b5b5;
}
#captcha .captcha_question{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#captcha .captcha_question span{
    color: #ac0000;
}
#captcha input::-webkit-input-placeholder {
    color: #4e4e4e;
    opacity: 1;
    font-size: 13px;
    text-align: center;
}
#captcha input::-moz-placeholder {
    color: #4e4e4e;
    opacity: 1;
    font-size: 13px;
    text-align: center;
}
#captcha input:-ms-input-placeholder {
    color: #4e4e4e;
    opacity: 1;
    font-size: 13px;
    text-align: center;
}
#captcha input:-moz-placeholder {
    color: #4e4e4e;
    opacity: 1;
    font-size: 13px;
    text-align: center;
}
@import "https://fonts.googleapis.com/css?family=Inconsolata";
html {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: #000000;
  background-image: -webkit-radial-gradient(#11581e, #041607);
  background-image: radial-gradient(#11581e, #041607);
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1ex #33ff33, 0 0 2px rgba(255, 255, 255, 0.8);
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-repeating-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.3) 50%, transparent 100%);
  background: repeating-linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.3) 50%, transparent 100%);
  background-size: auto 4px;
  z-index: 99;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(bottom, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
  background-image: linear-gradient(0deg, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
  background-repeat: no-repeat;
  -webkit-animation: scan 7.5s linear 0s infinite;
          animation: scan 7.5s linear 0s infinite;
}

@-webkit-keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%, 100% {
    background-position: 0 100vh;
  }
}

@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%, 100% {
    background-position: 0 100vh;
  }
}
.terminal {
  box-sizing: inherit;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 4rem;
  text-transform: uppercase;
}

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
  content: "> ";
}

.input, input {
  color: rgba(53, 55, 148, 0.8);
  text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
}

.input::before {
  /*content: "$ ";*/
}

a {
  color: #fff;
  text-decoration: none;
}

a::before {
  content: "[";
}

a::after {
  content: "]";
}

.errorcode {
  color: white;
}

.copyright {
  font-size: .7rem;
}
